body {
  background-color: red;
}

div {
  width: 10vw;
  height: 10vh;
  /* left: 20%; */
  /* top: 20%; */
  background-color: blue;
}

.move {
  animation-name: move; 
  animation-duration: 5s; 
  animation-timing-function: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    transform: (0, 15vw)
  }
  25% {
    transform: (0, 45vw)

  }
  50% {
transform:  (0, 89vw)
  }
  75% {
    top: (0, 28vw)

  }
  100% {
    top: (0, 15vw)

  }
}

@keyframes falling {
    0% {
        transform: translate(0, -100%);
    }

    100% {
        transform: translate(0, 56.25vw);
    }
}

.changeColor {
  background-color: green;
  width: 75vw;
  height: 75vh;
}